.hero-carousel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    z-index: -1;
}

.hero-carousel img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    filter: brightness(0.8);
}

.hero-banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--color-primary);
}

.hero-banner-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-contrast);
    font-weight: 500;
}

.hero-content {
    width: 100%;
}

.card {
    width: 100%;
    padding: 5rem 0;
    background-color: var(--color-bg-secondary);
}

.odd-card {
    background-color: var(--color-bg);
}

.hero-card {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    max-width: 65rem;
}

.hero-card-img {
    width: 25rem;
    height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
}

.hero-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-card-title {
    text-align: center;
}

.hero-card-button {
    height: 3rem;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--color-text-contrast);
    font-weight: 600;
    border-radius: .3rem;
}

.hero-card-button:hover {
    background-color: var(--color-bg);
    color: var(--color-primary);
    cursor: pointer;
}

.clients-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 65rem;
    margin: auto;
}

.client-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.clients-logo {
    width: 200px;
}