.products-card {
    max-width: 1440px;
    margin: auto;
}

.products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.product-show {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.cover-img {
    height: 27rem;
    width: 100%;
    object-fit: cover;
    object-position: right center;
    border-radius: 1rem;
}

.product {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 6rem;
    padding: 2rem 2rem 2.5rem;
    width: 23rem;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 1rem;
}

.dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.product-title-container {
    display: flex;
    justify-content: center;
}

.product-title {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .4rem;
    border-radius: .5rem;
}

.product-img {
    width: 100%;
    max-height: 11rem;
    object-fit: contain;
    transition: scale 0.2s;
}

.product-description {
    color: var(--color-text-contrast);
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
}

.product-show:hover .product-img {
    scale: 1.25;
}