.contact-us {
    max-width: 65rem;
    margin: auto;
    margin-top: 3rem;
}

.contact-form-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: stretch;
}

.contact-form-item {
    flex: 1;
}

.find-us-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map-container {
    width: 100%;
}

.map-container iframe {
    width: 100%;
    height: 280px;
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flex-item {
    flex: 1;
}

form, .contact-form {
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-grow: 1;
    padding: 2rem;
    background-color: var(--color-bg);
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-form-title .pre-title {
    font-size: .8rem;
    color: var(--color-primary);
    letter-spacing: 2px;
}

h3 {
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.label {
    font-size: .9rem;
    font-weight: 500;
    margin-left: 1rem;
}

input, textarea {
    background-color: var(--color-bg-secondary);
    margin: auto;
    width: 100%;
    padding: .7rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: .9rem;
    outline-color: var(--color-primary);
}

textarea {
    resize: none;
}

button {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    background-color: var(--color-primary);
    color: var(--color-text-contrast);
    border: 2px solid var(--color-primary);
    border-radius: 0.3rem;
    font-size: .9rem;
    font-weight: 600;
    width: 100%;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.1s;
    margin-top: .5rem;
    fill: var(--color-text-contrast);
}

button:hover,
button:focus {
    background-color: var(--color-bg);
    cursor: pointer;
    color: var(--color-primary);
    fill: var(--color-primary);
    outline: none;
}

.contact-methods {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.contact-methods .contact-method {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    padding: 1rem;
    text-align: center;
}

.flex-100 {
    flex: 1 !important;
}

.contact-icon svg {
    fill: #333333;
    height: 70px;
    width: 70px;
}