.navbar {
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--color-text-contrast);
    transition: all 0.2s;
    z-index: 200;
    fill: var(--color-text-contrast);
}

.dropdown-container {
    display: none;
    position: absolute;
    top: 4.8rem;
    padding: 1rem;
}

.dropdown {
    background-color: var(--color-bg);
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: var(--color-text);
}

.dropdown-item {
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.dropdown-nav:hover .dropdown-container {
    display: block;
}

.dropdown-item:hover {
    background-color: var(--color-primary-hover);
}

.bg-transparent {
    background-color: transparent;
    backdrop-filter: blur(2px);
    box-shadow: none;
}

.bg-color {
    background-color: var(--color-bg);
    color: var(--color-text);
    fill: var(--color-text);
}

.logo-container {
    height: 100%;
    padding: .7rem 0;
}

.logo-container img {
    height: 100%;
    object-fit: contain;
}

.nav-links {
    display: flex;
    height: 100%;
    list-style: none;
    font-weight: 600;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 6rem;
    padding: 0 .7rem;
    cursor: pointer;
    text-align: center;
    height: 100%;
}

.dropdown-nav {
    min-width: 5rem;
    position: relative;
}

.nav-item:hover {
    background-color: var(--color-bg-secondary);
}

.bg-transparent .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}