.container {
    background-color: var(--color-bg-secondary);
}

.dark-fill {
    fill: var(--color-bg-contrast);
    transition: all .2s ease;
}

.facebook-icon:hover .dark-fill {
    fill: #4267B2;
}

.whatsapp-icon:hover .dark-fill {
    fill: #25D366;
}

.tiktok-icon:hover .dark-fill {
    fill: #101010;
}

.linkedin-icon:hover .dark-fill {
    fill: #0072B1;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.social-media-icons svg {
    width: 100px;
    height: 100px;
}