.cover-photo, .cover-photo img {
    width: 100%;
    height: 100dvh;
}

.cover-photo {
    position: relative;
    z-index: -1;
}

.cover-photo img {
    object-fit: cover;
    filter: brightness(0.55);
}

.cover-info {
    position: absolute;
    bottom: 5rem;
    left: 10rem;
}