:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-bg: #ffffff;
    --color-bg-secondary: #f5f5f5;
    --color-bg-contrast: #333333;
    --color-text: #1a1a1a;
    --color-text-secondary: #666666;
    --color-text-contrast: #ffffff;
    --color-primary: #092B9C;
    --color-primary-hover: #fff;
    --color-border: #dddddd;
}